/* body {
    background-color: white;
}

.homepage {
    background-color: wheat;
}



div.img {
    display: inline-block;
    margin: 50px;
    background-color: antiquewhite;
    width: 70%;
    height: 700px;
} */